* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --Nurude-Brown: #9E896A;
  --Citrus-Mist: #F8EDDD;
  --Flagstone: #ACACAC;
  --white: #fff;
  --Black: #000;
}
.container {
  padding: 15px 0;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Poppins", serif;
}
img {
  max-width: 100%;
}
